@model HomeAssignment.Models.Customer

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))  
{  
    <fieldset>  
        <legend>Login</legend>  
  
        @Html.AntiForgeryToken()  
        @Html.ValidationSummary(true)  
        @if (@ViewBag.Message != null)  
        {  
            <div style="border: 1px solid red">  
                @ViewBag.Message  
            </div>  
        }  
        <table>  
            <tr>  
                <td>Username</td>  
                <td>@Html.TextBoxFor(a => a.Cust_username)</td>  
                <td>@Html.ValidationMessageFor(a => a.Cust_username)</td>  
            </tr>  
            <tr>  
                <td>  
                   Password  
                </td>  
                <td>  
                    @Html.PasswordFor(a => a.Cust_password)  
                </td>  
                <td>  
                    @Html.ValidationMessageFor(a => a.Cust_password)  
                </td>  
            </tr>  
            <tr>  
                <td></td>  
                <td>  
                    <input type="submit" value="Login" id="btnLogin" />  
                </td>  
                <td></td>  
            </tr>  
        </table>  
    </fieldset>  
}


